################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/D94FE3735B754C47A23E27658775F2E5
/.vs/CopilotSnapshots/5F26B9C1F4C8EA4589D54A330B691A1A
